---
layout: default
---

{{ content }}

{% if site.posts.size > 0 %}
  <h2>{{ page.list_title | default: "Posts" }}</h2>
  <ul>
    {% for post in site.posts %}
    <li class="indexed-post">
      <h3>
        <a href="{{ post.url | relative_url }}">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span>{{ post.date | date: date_format }}</span>
          {{ post.title | escape }}
        </a>
      </h3>
      {% if site.show_excerpts %}
        {{ post.excerpt }}
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
{% endif %}
